@import 'tailwindcss';

@theme {
    --color-blue: oklch(69.59% 0.0597 247.91);
    --color-green: oklch(60.12% 0.0882 137.17);
    --color-light-green: oklch(78.34% 0.0855 130.39);
    --color-champagne: oklch(93.27% 0.0403 83.13);
    --color-red: oklch(74.14% 0.0882 33.4);
}