@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import 'tailwindcss';

@font-face {
    font-family: Lexend;
    src: url("/fonts/Lexend.ttf") format("ttf");
}

@theme {
    --color-dark-blue: oklch(69.59% 0.0597 247.91);
    --color-blue: oklch(0.82 0.0438 252.68);
    --color-light-blue: oklch(0.92 0.0299 251.29);
    --color-green: oklch(60.12% 0.0882 137.17);
    --color-light-green: oklch(78.34% 0.0855 130.39);
    --color-champagne: oklch(93.27% 0.0403 83.13);
    --color-light-red: oklch(0.89 0.0406 41.03);
    --color-red: oklch(0.8 0.0865 41.33);

    --font-lexend: "Lexend", sans-serif;
}